<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml" style="width: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title><%= @media_item.title %></title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/dompurify/dist/purify.min.js" crossorigin="anonymous"></script>
  <body>
    <h1><%= @media_item.title %></h1>
    loading...
    <script id="load-body">
      const html_content = <%=  @media_item.description.to_json.html_safe %>;
      const sanitized_html_content = DOMPurify.sanitize(html_content);
      const replaced_tag = "<%= @html ? 'html' : 'body' %>";
      const html_element = document.getElementsByTagName('body')[0];
      html_element.innerHTML = sanitized_html_content;
    </script>
  </body>
</html>
<!--
  <%= @media_item.attributes.except("title", "id", "description").map do |attr, value|
    [attr, value].map(&:to_s).join(": ")
  end.join("\n")
            %>
-->

